@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.Label {
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  color: #1a191e;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.Label.size-small {
  font-size: 12px;
  line-height: 180%;
  padding: 0px 6px;
}

.Label.size-medium {
  font-size: 13px;
  line-height: 180%;
  padding: 4px 10px;
}

.Label.appearence-primary {
  background-color: 0;
}

.Label.appearence-primary:hover {
  background-color: #f8f8f8;
}

.Label.appearence-secondary {
  color: #5bb5a2;
}

.Label.appearence-secondary:hover {
  background-color: #e8f2ee;
  color: #5bb5a2;
}
