.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1366px;
  margin: 0 auto;
  margin-top: 16px;
}

.NavBar .account-menu {
  gap: 12px;
  display: flex;
  align-items: center;
}